/*.sliderLabel {
  top: 0;
  height: 28;
  line-height: 28px;
  width: 34;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: 'transparent';
}*/

.rangeInput * input {
  text-align: center !important;
}

.invalid {
  border: 2px solid red;
}
