.normal {
  font-weight: 700;
  color: #C8C8C8;
}

.magic, .modified {
  color: #8787FE;
  font-weight: 600;
}

.rare {
  color: #ff7;
  font-weight: 800;
}

.unique {
  color: #AF5F1C;
  font-weight: 800;
}

.corrupted {
  color: #d20000;
  font-weight: 800;
  font-size: 0.8em;
}

.value {
  color: #fff;
}

.fire {
  color: #960000;
}

.cold {
  color: #326292;
}

.lightning {
  color: #FEFE76;
}

.chaos {
  color: #d02090;
}

.enchant {
  color: #B8DAF1;
  font-size: 0.8em;
}

.crafted {
  color: #B8DAF1;
}

.default {
  background-color: red;
  color: white;
  font-weight: 900;
}

.currency {
  color: #aa9e82;
}

.property, .fractured {
  color: #7f7f7f;
}

.gem {
  color: #0DA29B;
  font-weight: 700;
}

.relic {
  color: #82ad6a;
  font-weight: 800;
}

.note {
  color: #ff7;
  font-weight: 300;
  font-size: small;
  line-height: 1.2em;
}

.name {
  color: #dadada;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1em;
}

.modifier {
  color: #8787FE;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap&text=01234567890.');
.modifier, .fractured, .property, .enchant, .crafted, .value, .action, .primaryAction {
  font-size: 13px;
  line-height: 1.7em;
  font-weight: 500;
  font-family: 'Montserrat', 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}

.value {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.enchant {
  font-size: 12px;
}

.pseudo {
  color: #696974;
  font-size: 12px;
}

.lineWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}

.lineWrapper span {
  display: inline;
  align-self: flex-start;
  justify-content: start;
}

.action {
  color: #748ffc;
  font-weight: 400;
  cursor: pointer;
}

.primaryAction {
  color: #748ffc;
  font-weight: 800;
  cursor: pointer;
}
