@import url('https://rsms.me/inter/inter.css');

body.light-mode {
  --sub-bg: #fff7ef;
  --bg-color: #e7e3e3;
  --bg-image: url("https://www.transparenttextures.com/patterns/polyester-lite.png");
  --header-color: #f7f4ef;
  --header-image: url('https://www.transparenttextures.com/patterns/p5.png');
  --row-even: #fefefe;
  --row-odd: #fafafa;
  --title: var(--mantine-color-dark-7);
  --title-color: #1a1a1a;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body.dark-mode {
  --sub-bg: #0a0a16;
  --bg-color: #07090c;
  --bg-image: url('https://www.transparenttextures.com/patterns/fake-brick.png');
  --header-color: #000710;
  --header-image: url('https://www.transparenttextures.com/patterns/brilliant.png');
  --row-even: var(--mantine-color-dark-8);
  --row-odd: var(--mantine-color-dark-7);
  --title-color: #bbcada;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


html,
body,
#root,
.mantine-AppShell-root,
.mantine-AppShell-body {
  min-height: 100%;
}

.logoContainer {
  margin-left: 15px;
}

.header {
  padding-left: 0px;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--header-color);
  background-image: var(--header-image);
  /*background-color: black;*/
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

.logoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.criteriaGroup {
  margin-top: 0;
  border-bottom: 1px solid var(--mantine-color-dark-5);
}

.criteriaGroup.odd {
  background-color: var(--row-odd);
}

.criteriaGroup.even {
  background-color: var(--row-even);
}

.searchResultCard {
  margin-top: 0;
  border-bottom: 1px solid var(--mantine-color-dark-5);
  padding-top: 15px;
  padding-bottom: 15px;
}

.searchResultCard.odd {
  background-color: var(--row-odd);
}

.searchResultCard.even {
  background-color: var(--row-even);
}

.headerRight {
  display: flex;
  height: 100%;
  width: 100%;
}

.headerRight>* {
  height: 100%;
  column-gap: 0.5em;
}

.logo {
  font-size: 64px;
  margin-block-start: 0%;
  margin-block-end: 0%;
  height: 100%;
  line-height: unset;
}
